/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "Righteous-Regular";
  src: url("./assets/fonts/Righteous-Regular.ttf");
}

body,
.alert-wrapper {
  --ion-background-color: none;

  // https://cssgradient.io/
  background: linear-gradient(55deg, rgba(173, 251, 194, 1) 25%, rgba(249, 255, 238, 1) 50%, rgba(255, 239, 167, 1) 75%) !important;
}

p,
h1,
ion-button,
ion-fab,
ion-item,
ion-toolbar,
ion-input,
ion-icon,
ion-select,
ion-card-subtitle,
ion-card-title,
.alert-title,
.alert-radio-label {
  font-family: "Righteous-Regular" !important;
  color: #251e93 !important;
}

.alert-button-inner {
  font-family: "Righteous-Regular" !important;
}

ion-content,
ion-header,
ion-footer {
  text-align: center;
}

ion-card,
ion-footer {
  --background: none;
  background: rgb(179, 173, 251);
  background: linear-gradient(135deg, rgba(179, 173, 251, 1) 25%, rgba(249, 255, 238, 1) 50%, rgba(255, 167, 237, 1) 75%);
}

ion-fab-button:hover,
ion-button:hover {
  animation-name: rotate;
  animation-duration: 1s;
}

ion-footer {
  display: flex;
  justify-content: space-between;

  p,
  ion-button {
    margin: 0.25rem;
  }
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }

  50% {
    transform: rotateY(180deg) translate(0px, 0px); //skew(-3deg, 20deg);
  }
}

@keyframes rightIn {
  from {
    margin-left: 80%;
  }

  to {
    margin-left: 0%;
  }
}

@keyframes leftIn {
  from {
    margin-right: 80%;
  }

  to {
    margin-right: 0%;
  }
}
