<ion-content>

  <div class="container-cards">
    <div style="all:unset;" *ngFor="let w of this.waits$ | async">
      <ion-card class="card-shadow">
        <div class="buttons">
          <ion-button (click)="setStatus(w)" *ngIf="w.estado == 'PENDIENTE'">
            Reservar
          </ion-button>
          <ion-button (click)="setStatus(w)" *ngIf="w.estado == 'PENDIENTE'">
            Cancelar
          </ion-button>
        </div>

        <div class="details">
          <p>{{ w.correo }}</p>
          <p>{{ w.estado }}</p>
          <p>{{ w.date_created | date:'short' }}</p>
        </div>
      </ion-card>
    </div>
  </div>

  <ion-fab (click)="redirectTo('home')" vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>{{ this.kyndSelected.val }}</ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button *ngFor="let p of this.kynds" (click)="setFilter(p)">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>