
<ion-header>
  <ion-toolbar>
    <ion-back-button (click)="navigateBack()" slot="start"></ion-back-button>
    <ion-title>Registrar mesa</ion-title> 
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-fab vertical="top" horizontal="end">
    <ion-fab-button (click)="takePic()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <form [formGroup]="form" (ngSubmit)="crearMesa()">
    <div class="wrapform">
      <ion-item>
        <ion-input type="number" name="numero" formControlName="numero" placeholder="Numero de mesa">
          <ion-icon name="id-card-outline"></ion-icon>
        </ion-input>

        <!-- Errors numero-->
        <ion-row class="hiddenItems">
          <small
            *ngIf="form.get('numero').hasError('required') && (form.get('numero').dirty || form.get('numero').touched)">Este
            campo es obligatorio</small>
        </ion-row>
      </ion-item>

      <ion-item>
        <ion-input type="number" name="cantidad" formControlName="cantidad"
          placeholder="Numero de comensales">
          <ion-icon name="body-outline"></ion-icon>
        </ion-input>

        <!-- Errors  cantidad -->
        <ion-row class="hiddenItems">
          <small
            *ngIf="form.get('cantidad').hasError('required') && (form.get('cantidad').dirty || form.get('cantidad').touched)">Este
            campo es obligatorio</small>
        </ion-row>
      </ion-item>

      <!-- TIPO MESA -->
      <ion-item lines="full" class="input-wrapper" style="margin-top: 0px;">
        <ion-label position="fixed">Tipo mesa</ion-label>

        <ion-select value="0" interface="popover" formControlName="tipo" placeholder="Seleccione una opcion"
          required>
          <ion-select-option value="COMUN">Comun</ion-select-option>
          <ion-select-option value="DISCAPACITADOS">Discapacitados</ion-select-option>
          <ion-select-option value="VIP">Vip</ion-select-option>
        </ion-select>


        <!-- Errors TIPO MESA -->
        <ion-row class="hiddenItems">
          <small
            *ngIf="form.get('tipo').hasError('required') && (form.get('tipo').dirty || form.get('tipo').touched)">Este
            campo es obligatorio</small>
        </ion-row>
      </ion-item>
    </div>

    <ion-button shape="round" type="submit" fill="solid" class="sign-btn" [disabled]="!form.valid || !this.img">
      Crear</ion-button>
  </form>

  <ion-fab (click)="redirectTo('home')" vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>