.container-cards {
  margin-top: 10%;

  ion-card {
    display: -webkit-inline-box;
    // width: 40%;
    // height: 20%;
    width: 95%;
    height: 40%;
    margin: 2%;

    p {
      left: 0%;
      right: 0%;
      top: 73%;
      position: fixed;
      font-size: 72.57%;
    }

    img {
      padding: 2.4%;
      // width: max-content;
      // height: max-content;
      width: 95%;
      height: 40%;
    }
  }
}
