<div class="container" *ngIf="this.pedido$ | async as pedido">

  <ion-header>
    <ion-toolbar>
      <ion-back-button (click)="navigateBack()" slot="start"></ion-back-button>
      <ion-title size="small">{{ this.getTitle(pedido.estado) }}</ion-title>
      <ion-icon slot="end" name="qr-code-outline" (click)="ScanQr()" style="font-size: 2em; margin-right: 0.5em;"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <div class="container-cards">
      <ion-card>
        <table>
          <tbody>
            <tr *ngFor="let product of getProductsSelected()">
              <td>
                <p>{{ product.name }}</p>
              </td>
              <td>
                <p>{{ product.price | currency }} x {{ product.quantity }} :</p>
              </td>
              <td>
                <ion-icon name="remove-outline"(click)="RemoveProducto(item.nombre,index)" class="remove"></ion-icon>
                <p>{{ product.price * product.quantity | currency }}</p>
                <ion-icon name="add-outline" (click)="AddProducto(index)" class="add"></ion-icon>

              </td>
            </tr>
          </tbody>
        </table>
      </ion-card>

      <div class="container-cards container-resume">
        <ion-card>
          <p>MONTO TOTAL: ( {{ this.getAcum() | currency }} )</p>
          <p>TIEMPO ESTIMADO: {{ this.getAproxFinish() }} minutos</p>


          <div *ngIf="pedido.estado == 'PENDIENTE'">
            <ion-button (click)="redirectTo('producto/list')">EDITAR</ion-button>
            <ion-button (click)="clickPendiente(pedido)">CONFIRMAR</ion-button>
          </div>

          <div *ngIf="pedido.estado == 'ACEPTADO'">
            <ion-button (click)="clickRecibido(pedido)">RECIBIDO</ion-button>
          </div>

          <div *ngIf="pedido.estado == 'ACEPTADO' && !pedido.descuento">
            <br>
            <p>¿Le interesa ganar un descuento?</p>
            <ion-button (click)="clickJuego(pedido)">JUGAR</ion-button>
          </div>

          <div *ngIf="pedido.estado == 'CONFIRMADO'">
            <ion-button (click)="clickCobrar(pedido)">PAGAR</ion-button>
          </div>

          <div *ngIf="pedido.estado == 'COBRADO'">
            <br>
            <p>¿Le interesa ser parte de una breve encuesta?</p>
            <ion-button (click)="redirectTo('encuesta/cliente')">PARTICIPAR</ion-button>
          </div>

        </ion-card>
      </div>

    </div>

    <ion-fab (click)="redirectTo('home')" vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button>
        <ion-icon name="home"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ion-content>


</div>