table {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
  }
  
  th {
    padding: 1rem;
  }
  
  th,
  td {
    border: 0rem solid transparent !important;
  }

  .container-resume {
    margin-bottom: 20%;
  
    ion-card{
      justify-content: center;
    }
  }