.error_message {
    font-size: 100%;
    color: red;
}

#card-img{
    width: 70%;
    left: 15%;
}

ion-item {
    ion-icon {
        padding-right: 2%;
        font-size: 18px;    //TODO set in global
    }
}

ion-label{
    -webkit-flex: none!important; 
    flex: none!important; 
}

