<ion-header>
  <ion-toolbar color="medium">
    <ion-back-button (click)="return()" slot="start"></ion-back-button>
    <ion-title>{{title}}</ion-title>
    <!-- <ion-icon class="logout-icon" slot="end" name="log-out-outline" size="large" (click)="logout()"></ion-icon> -->
  </ion-toolbar>
</ion-header>

<ion-content fullscreen> 
  <div [class]="bgSala">
    <div class="row" style="max-height: 65vh; overflow-y: auto;">
      <div class="col">
        <div class="mensajes" *ngFor="let mje of mensajes">
           
          <div class="row m-1" >
            <div class="col">
              <div class="alert alert-success p-1 text-end"  >
                <p class="mb-0"><small>{{mje.fecha | date:'short'  }}</small></p>
                <p class="mb-0"> {{mje.message}}</p> 
              </div>
    
              <div class="alert alert-secondary p-1"  >
                <p class="mb-0"><strong>{{mje.userName}}({{mje.rol}}): </strong><small>{{mje.fecha | date:'short'}}</small></p>
                <p class="mb-0"> {{mje.message}}</p>
              </div>
            </div>        
          </div>   

        </div> 
      </div>
    </div>


    <!--ESCRIBIR Y ENVIAR MENSAJE-->
      <div class="row input-row">
      <div class="col">
        <form [formGroup]="chatForm">
          <input type="text" class="form-control mje-ctrl" placeholder="Escriba aquí su mensaje" [(ngModel)]="mensaje" formControlName="messageCtrl">      
          <button type="button" class="w-100 btn btn-lg btn-success" (click)="enviarMje()" [disabled]="chatForm.invalid">Enviar</button>
        </form>
      </div>
    </div>



  </div> 
</ion-content> 